@import url("https://fonts.googleapis.com/css2?family=Changa&display=swap");
* {
  font-family: "Changa", sans-serif;
}
body {
  transition: all;
  transition-duration: 2s;
}
.navbar {
  background: white;
  box-shadow: 0.1em 0.1em 1em rgba(0, 0, 0, 0.2);
  transition: all;
  transition-duration: 2s;
}
header {
  text-align: center;
  padding: 20px 0px 20px 0px;
}

.prev-next-main {
  padding: 30px;
  display: flex;
  justify-content: center;
  transition: all;
  transition-duration: 2s;
}

.card {
  border: 0px;
  border-radius: 0px;
  transition: all;
  transition-duration: 2s;
}

.card-title {
  font-size: 24px;
}
.card-btn {
  border-radius: 0px;
  border: 2px solid black;
  background: transparent; /*#6190e8*/
  color: black;
  transition: all;
  transition-duration: 2s;
}
.clip {
  padding: 10px;
  background-color: rgb(167, 191, 232);
  border: 1px solid lightgray;
  transition: all;
  transition-duration: 2s;
}

.que-card {
  height: 68vh;
  width: auto;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.option {
  margin-left: 10px;
}

.input-field {
  margin: 0px 20px 0px 20px;
  border: none;
  border-bottom: 2px solid black;
  background: transparent;
  transition-property: border-bottom, background;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}

.input-field:focus {
  margin: 0px 20px 0px 20px;
  background: white;
  border-bottom: 2px solid rgb(167, 191, 232);
  outline: none;
}


@media screen and (max-width: 600px) {
  .option {
    margin-left: 0px;
  }
  .scroll-item {
    overflow-y: scroll;
  }
}

.dark-mode {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 30px;
  z-index: 1;
}